@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.body {
  background: #292929;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(0, 0, 0, 0.792);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(10px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spacer {
  flex: 1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.converter {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

select, input, button {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 230px;
}

select {
  background: #333;
  color: #fff;
  cursor: pointer;
  width: 220px;
  text-align: left;
  width: 100%;
  max-width: 230px;
  margin-bottom: -40px;
}

input {
  background: #1e1e1e;
  color: #fff;
  text-align: center;
  width: 200px;
}

input::placeholder {
  color: #888;
}

/* Result styling */
#result {
  font-size: 1.2em;
  margin-top: 15px;
}

.avatar img {
  align-items: center;
  width: 196px;
  height: 196px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* taxable income */

.calculator {
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.calculator button {
  padding: 10px 15px;
  background-color: #7b25d7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;  width: 100%;
  max-width: 230px;
}

.calculator button:hover {
  background-color: #8828ed;
  transition: 0.1s ease-in-out;
}

/* converter */

.converter input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 230px;
}

.converter button {
  padding: 10px 15px;
  background-color: #7b25d7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;  width: 100%;
  max-width: 230px;
}

.converter button:hover {
  background-color: #8828ed;
  transition: 0.1s ease-in-out;
}

.converter p {
  margin-top: 10px;
  font-size: 1.2em;
}

.toblog {
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  cursor: pointer;
  border-radius: 5px;
  background-color: #d3d3d3;
  color: rgb(0, 0, 0);
  transition: 0.1s ease-in-out;
  width: 100%;
  max-width: 230px;
  text-align: center;
}

.toblog:hover {
  background-color: #e4e4e4;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.1s ease-in-out;
}

.top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/topheader.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
}

/*navbar*/

.logo {
  font-size: 2em;
  color: #fff;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation i {
  font-size: 1.1em;
  cursor: pointer;
  position: absolute;
  top: 28px;
  margin-left: 40px;
  color: white;
}

.navigation a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform .25s ease-out;
}

.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Slideshow container */
.manga-container {
    position: relative;
    margin: 0 28.5%;  
    margin-left: 18.5%;
    margin-top: 4%;
    height: 500px; /* Fixed height of the slideshow */
    overflow: hidden;
    border: 2px solid rgba(153, 153, 153, 0);
    box-shadow: 0px 15px 35px rgb(0, 128, 128, 0);
    transition: 0.4s ease-in-out;
    border-radius: 20px;
}

.manga-container:hover {
    box-shadow: 0px 15px 35px rgb(0, 128, 128, 0.5);
}

.mySlides {
    display: none;
    max-width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*socials*/

.fa {
    color: rgb(155, 155, 155, 1);
    font-size: 30px;
    padding-left: 1px;
    padding-top: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgba(155, 155, 155, 0.5);
    margin-bottom: 10px;
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.1s ease-in-out;

}

.fa:hover {
    background-color: #7b25d7;
    transition: 0.1s ease-in-out;
}

.socials a {
    margin-bottom: 25px;
    text-align: center;
    
}

/*github repo wrapper*/

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 50px; /* Space between containers */
  max-width: 800px; /* Set a max-width to center the grid */
  margin: 0 auto; /* Center the entire section */
  padding: 20px 0;
}

/* Fixed size for containers */
.projects a {
  display: block;
  width: 100%; /* Full width within grid cell */
  height: 200px; /* Fixed height for uniformity */
  text-decoration: none; /* Remove underline on links */
  color: rgb(255, 255, 255);
}

.projects section {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid rgba(153, 153, 153, 0.08);
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0);
  transition: 0.4s ease-in-out;
  vertical-align: top;
  margin: 1vh 0px;
  display: inline-block;
}

.projects section:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.08);
  box-shadow: 0px 15px 35px rgb(0, 128, 128, 0.5);
  transform: scale(1.03);
}

.section_title {
  font-size: 24px;
  font-weight: bold;
  margin: 1vh 0px;
  padding: 0px 1px;
  word-wrap: break-word;
}

.about_section {
  font-size: 18px;
  font-family: "Questrial", sans-serif;
  margin: 1vh 0px;
  font-weight: bold;
  word-wrap: break-word;
}

.light-mode .card {
  color: #000000;
  border-color: #000000;
}



.bottom_section {
  margin: 2vh 0px;
  font-size: 14px;
  word-wrap: break-word;
}

.bottom_section span {
  margin-right: 20px;
  font-weight: bold;
}

.bottom_section span i {
  font-size: 15px;
}

/*body part*/

h1 {
  /* color: var(--primary-color); */
  color: white;
  font-size: 3rem;
  margin: 0;
}

.header>h3 {
  color: white;
}

h2 {
  font-size: 2rem;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #0a0a0a;
  color: white;
}

#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.padded {
  padding-top: 5rem;
  padding-right: 10rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.padded2 {
  padding-top: 10px;
  padding-left: 5rem;
}

.about-img {
  display: flex;
  max-width: 100%;
  margin-left: auto;
  padding-bottom: 10px;
  align-items: center;
  border-radius: 40px;
}

.sub-menu-wrap {
  display: none;
  flex-direction: column;
  align-items: center;
}

.menutext {
  display: none;
}

.mobilenav #toggleDark2 {
  display: none;
}

.mobilenav {
  display: none;
}

.menutext {
  display: none;
}

.dropdown {
  display: none;
}

#menubutton {
  display: none;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  margin-left: -5rem;
}

.banner a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 0.15s ease-in-out;
}

.banner a:hover{
  transform: scale(1.03);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin-top: auto;
}

footer img {
  width: 20%;
  height: 20%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
    
    .manga-container {
    position: relative;
    margin: 0 20.5%;  
    margin-left: 8.5%;
    margin-top: 4%;
    height: 400px; /* Fixed height of the slideshow */
    overflow: hidden;
}

  #about {
    grid-template-columns: initial;
    grid-template-rows: auto 1fr;
    grid-gap: 0;
    position: relative;
    flex-direction: column;
  }

  .about-info,
  .about-info>p,
  .about-img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    padding-right: 1px;
    position: relative;
  }

  .padded {
    padding: 5rem;
  }

  @media screen and (max-width: 840px) {
      
    .manga-container {
        position: relative;
        margin: 0 11.5%;  
        margin-left: 0%;
        margin-top: 4%;
        height: 300px; /* Fixed height of the slideshow */
        overflow: hidden;
}

    .navigation {
      display: none;
    }

    .mobilenav #toggleDark2 {
      display: block;
    }

    .mobilenav {
      display: block;
    }

    .navigation i {
      display: none;
    }

    #menubutton {
      display: block;
    }

    header i {
      flex-direction: row;
      color: white;
    }

    .mobilenav #toggleDark2 {
      font-size: 1.1em;
      cursor: pointer;
      position: absolute;
      top: 30px;
      margin-left: 100px;
      color: white;
    }

    #menubutton {
      color: #fff;
      text-decoration: none;
      transition: 0.2s;
    }

    #menubutton:hover {
      color: #888888;
      text-decoration: none;
    }

    .menutext {
      display: block;
      position: relative;
    }

    .dropdown {
      display: none;
      overflow: visible;
      position: absolute;
      text-decoration: none;
      color: white;
      top: 100%;
      left: 0;
      z-index: 9999;
    }

    .dropdown i {
      margin-left: 20px;
      margin-bottom: 30px;
    }

    .dropdown a {
      text-decoration: none;
      color: white;
      margin-top: 10px;
      transition: 0.2s;
    }

    .dropdown a:hover {
      text-decoration: none;
      color: rgb(170, 170, 170);
      transition: opacity 0.25s ease-in-out;
    }

    .menutext ul {
      list-style-type: none;
      color: white;
    }

    .menutext:hover .dropdown {
      display: block;
      margin-top: auto;
      background-color: #000000;
      font-size: 1.2rem;
    }

    .menutext:hover .dropdown ul {
      display: block;
    }

    .menutext:hover .dropdown ul li {
      display: block;
      width: 100px;
    }

    .menutext ul li:hover .dropdown ul {
      display: block;
      margin-top: 10px;
      margin-left: 10px;
    }

    .menutext ul li:hover .dropdown ul li {
      width: 100px;
      height: 40px;
    }

    .logo {
      font-size: 2em;
      color: #fff;
      margin-left: -60px;
    }
  }
}
